body{
    background-color: cyan;
}

section{
    background-color: black;
    padding: auto;
}

h1{
    background-color: chartreuse;
}

h2{
    background-color: aquamarine;
}

ol{
    background-color: whitesmoke;
}

li{
    background-color: black;
}